{% extends 'stream/base.html' %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Whoops!
    {% endif %}
{% endblock %}

{% block body_block %}
    <div>{{ category.name }}</div>
    <img src={{ category.image }}>
	<div class="grid-container">
    {% for s in streamers %}
        {% if category == s.category %}
			<div id="grid-item{{ forloop.counter }}">
                <a href="{% url 'stream:show_streamer' name=s.name category_name_slug=category.slug %}"><img class="icon" src="{{ s.image }}"></a>
			</div>
        {% endif %}
    {% endfor %}
	</div>
{% endblock %}