{% extends 'stream/base.html' %}
{% load static %}

{% block title_block %}
    Edit Profile
{% endblock %}


{% block body_block %}
    <link rel="stylesheet" href="{% static 'style/profilePages.css' %}" type="text/css" />
    <div class="profile-block">
        <h1>{{ user.username }}</h1>
        <div id="profile-image">
            {% if user.userprofile.picture %}
                <img src="{{ MEDIA_URL }}{{ user.userprofile.picture.name }}"
                     width="200" height="200"/><br/>
            {% else %}
                <img src="{% static 'images/NoProfile.jpg' %}"
                     width="200" height="200"/><br/>
            {% endif %}
        </div>
        <div id="user-data">
            <a class="info"><a class="info-tag">Account created in: </a>{{ user.date_joined }}</a><br/>
            <a class="info"><a class="info-tag">Email: </a>{{ user.email }}</a><br/>
            <a class="info"><a class="info-tag">Bio: </a>{{ user.userprofile.bio }}</a><br/>
        </div>
        <hr/>
        <form id="edit-user-profile" method="post">
            {% csrf_token %}
            <a class="update"><a class="update-tag">Email </a><input id="email" type="text" name="email" placeholder="Got a new email?"></a><br/>
            <a class="update"><a class="update-tag">Bio </a><textarea id="bio" type="text" name="bio" placeholder="What's new?"></textarea></a><br/>
            <input type="button" id="button-link" value="Update">
        </form>
    </div>
{% endblock %}