{% extends 'stream/base.html' %}
{% load static %}
{% load stream_template_tags %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <div class="grid-container">
    {% if categories %}
        {% for c in categories %}
			<div id="grid-item{{ forloop.counter }}">
                <a href="{% url 'stream:show_category' category_name_slug=c.slug %}"><img src="{{ c.image }}"></a>
			</div>
        {% endfor %}
    {% else %}
        <li><strong>There are no categories present.</strong></li>
    {% endif %}
	</div>
{% endblock %}