{% extends 'stream/base.html' %}
{% load static %}
{% load stream_template_tags %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <div>Homepage, hooray!</div>
    <div class="grid-container">
    {% if categories %}
        {% for c in categories %}
			<div id="grid-item{{ forloop.counter }}">
            <img src="{{ c.image }}">
			{% if c == act_cat %}
                <strong>
                    <a href="{% url 'stream:show_category' category_name_slug=c.slug %}">{{ c.name }}</a>
                </strong>
            {% else %}
                <a href="{% url 'stream:show_category' category_name_slug=c.slug %}">{{ c.name }}</a>
            {% endif %}
			</div>
            </li>
        {% endfor %}
    {% else %}
        <li><strong>There are no categories present.</strong></li>
    {% endif %}
	</div>
{% endblock %}