{% extends 'stream/base.html' %}
{% load static %}

{% block title_block %}
    Login
{% endblock %}

<div class="signinform">
{% block body_block %}
    <link rel="stylesheet" href="{% static 'style/accessPages.css' %}" type="text/css" />
    <div class="form-block">
        <br/>
        <form class="form-signin" role="form" method="post" action=".">
            {% csrf_token %}
            <h2>Please log in</h2>
            <br/>
            <label>Username</label>
            <input type="text" name="username" id="html-input" class="form-username"
             required autofocus>
            <br/>
            <label>Password</label>
            <input type="password" name="password" id="html-input" class="form-password"
             required>
            <br/>
            <button id="form-submit" type="submit"value="Submit">Log in</button>
        </form>
    </div>


{% endblock %}
</div>