{% extends 'stream/base.html' %}
{% load static %}

{% block title_block %}
    Register
{% endblock %}

<div class="signinform">
{% block body_block %}
    <link rel="stylesheet" href="{% static 'style/accessPages.css' %}" type="text/css" />
    <div class="form-block">
        <h2>Register for Stream Rater</h2>
        {% if registered %}
            <div class="registered-confirmation">
                <a>Registered</a><br>
                <a id="complete-link" href="{% url 'stream:homepage' %}">Return to the homepage.</a><br/>
            </div>
        {% else %}
            <form id="user_form" method="post" action="{% url 'stream:register' %}"
                  enctype="multipart/form-data">

                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <input id="form-submit" type="submit" name="submit" value="Register"/>
            </form>
        {% endif %}
    </div>
{% endblock %}
</div>