body{
	position: relative;
}

.grid-container img {
	height: 150px;
	width: 150px;
}

.streamer-name{
	font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.category-name{
	text-align: center;
	border-bottom: 5px solid rebeccapurple;
}

.container{
	position: absolute;
    left: 8%;
    right: 10%;
    top: 100px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    border-radius: 10px;
    height: 1100px;
    width: 80%
}