body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, darkslateblue, slategray);
    height: 100vh;
    overflow: hidden;
}

.profile-block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    background: white;
    border-radius: 10px;
}

.profile-block h1{
    text-align: center;
    padding: 0 0 15px 0;
    border-bottom: 1px solid silver;
}

.profile-block #profile-image{
    float: left;
    padding: 0 30px 30px 30px;
    border-right: 1px solid silver;
    border-bottom-right-radius: 10px;
}

.profile-block #user-data{
    padding-left: 60px;
}

.profile-block .info-tag{
    color: #2e3087;
}

.profile-block .info{
    padding: 5px;
}

.profile-block #button-link{
    background-color: forestgreen;
    border: 1px solid;
    color: white;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 10px;
}

.profile-block #button-link:hover{
    border-color: forestgreen;
    transition: .5s;
}

.profile-block #edit-user-profile{
    padding: 0 30px 30px 30px;
}

.profile-block .update-tag{
    color: forestgreen;
}

.profile-block .update{
    padding: 10px ;
    margin: 10px;
}

.profile-block hr{
    width: 40%;
    background-color: forestgreen;
}

.profile-block #email{
    padding: 0 2px;
    height: 20px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid forestgreen;
}

.profile-block #bio{
    border: none;
    border-bottom: forestgreen;
    padding-top: 5px;
    height: 3em;
}